<div class="container" style="text-align:left">
    <form #voteForm='ngForm' (ngSubmit)="postVote()" style="padding:20px;border:solid black 1px" class="mb-3">
        <h3>Add vote.</h3>
        <div class="mb-3">
            <p><b>Design</b></p>
            <div class="mb-2">
                <label for="designVote" class="form-label">Vote</label>
                <input id="designVote" type="number" class="form-control" [(ngModel)]="vote.design_vote" name="designVote">
            </div>
            <div class="mb-2">
                <label for="designComment" class="form-label">Comment</label>
                <input id="designComment" type="text" class="form-control" [(ngModel)]="vote.design_comment" name="designComment">
            </div>
        </div>
        <div class="mb-3">
            <p><b>Usability</b></p>
            <div class="mb-2">
                <label for="usabilityVote" class="form-label">Vote</label>
                <input id="usabilityVote" type="number" class="form-control" [(ngModel)]="vote.usability_vote" name="usabilityVote">
            </div>
            <div class="mb-2">
                <label for="usabilityComment" class="form-label">Comment</label>
                <input id="usabilityComment" type="text" class="form-control" [(ngModel)]="vote.usability_comment" name="usabilityComment">
            </div>
        </div>
        <div class="mb-3">
            <p><b>Content</b></p>
            <div class="mb-2">
                <label for="contentVote" class="form-label">Vote</label>
                <input id="contentVote" type="number" class="form-control" [(ngModel)]="vote.content_vote" name="contentVote">
            </div>
            <div class="mb-2">
                <label for="contentComment" class="form-label">Comment</label>
                <input id="contentComment" type="text" class="form-control" [(ngModel)]="vote.content_comment" name="content_comment">
            </div>
        </div>
        <div class="mb-3">
            <p><b>Overall</b></p>
            <div class="mb-2">
                <label for="overallComment" class="form-label">Overall</label>
                <input id="overallComment" type="text" class="form-control" [(ngModel)]="vote.overall_comment" name="overallComment">
            </div>
        </div>
        <button class="btn btn-outline-secondary">Submit</button>
    </form>
</div>