<div class="container" style="max-width:600px">
    <form>
        <h2 style="width:100%;text-align:center">Create account</h2>
        <div class="mb-3">
            <label class="form-label" for="email">Enter your email</label>
            <input class="form-control" id="email" name="" type="email" placeholder="a@gmail.com">
        </div>
        <div class="mb-3">
            <label class="form-label" for="username">Enter your username here</label>
            <input class="form-control" id="username" name="" type="username" placeholder="username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password1">Password</label>
            <input class="form-control" id="password1" name="" type="password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password2">Confirm password</label>
            <input class="form-control" id="password2" name="" type="password">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <button class="btn btn-outline-secondary btn-lg">Create</button>
    </form>
</div>